<center>
<h2>Viewing all sequences from <i>custom</i> database</h2>
[<%= link_to "Add a new sequence", :action => "seq_editor" %>]<br/>

<div style="border: 0px solid #bbb; text-align: left">
<pre width="80%">
<%= @formatted_seq %>
</pre>
</div>
</center>
