<div class="mascot" style="padding-top: 5px;">

	<b>Mascot search log link:</b> <input type="text" size="80" name="mascot_search_results[]" id="sample_mascot" value="<%= m %>"/>&nbsp;
	<%= link_to_function( "remove", "$(this).up('.mascot').remove()") %>
</div>
