<div id="samples-table">

<table class="table-with-border" border='0' cellpadding="4" cellspacing="0" align="center" width="95%">
	<thead>
		<%= render :partial => 'samples_table_header' %>
	</thead>


	<tbody>
  

		<% @samples.each_with_index do |sample, index| %>
	
			<%= render :partial => 'samples_table_row', :locals => { :sample => sample , :index => index} %>
		<% end %>

</tbody>
</table>

</div>
