<h1>New sample</h1>

<% form_for :sample, :url => {:action => 'create'} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= submit_tag "Create" %>
<% end %>

<br/>

<%= link_to 'Back', :action => 'list' %>
