<% for column in Sample.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sample.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @sample %> |
<%= link_to 'Back', :action => 'list' %>
