<h1>New organism</h1>

<% form_for :organism, @organism, :url => { :action => 'create', :id => @organism } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
