html,body {
  margin:0;
  padding:0;
  min-width:800px;
  font-family: Arial, sans-serif;
}

a {
  color:#081B55;
  text-decoration:underline;
}

a:hover {
  color:#fff;
  background:#081B55;
  text-decoration:none;
}

h1 { color: #ca3225; font: bold 20pt arial;}
h2 { color: #ca3225; font: bold 18pt arial; margin: 0; padding-top: 10px; padding-bottom: 10px;}

#wrapper {
	font-size: 10pt;
	padding: 12px;
  padding-top: 0px;
	background-color: #a6d388;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 1px solid #000;
	/* border-top: none; */
  min-height: 400px;
}


#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation li {
	float: left; 
	margin: 0;
	padding: 0;
}

#navigation  a {
	color: #000;
	background: #fb0 url("/images/left-tab.gif") top left no-repeat;
	text-decoration: none;
	padding-left: 10px;
}

#navigation a span {
	background: url("/images/right-tab.gif") right top no-repeat;	
	padding-right: 10px;
}

#navigation a, #navigation a span {
	display: block;
	float: left; 
}
#navigation a:hover
{
color: #fff;
background: #26a url("/images/left-tab-hover.gif") left top no-repeat;
text-decoration: none;
padding-left: 10px;
}

#navigation a:hover span
{
background: url("/images/right-tab-hover.gif") right top no-repeat;
padding-right: 10px;
}

/* from unraveled.com */
body {
font: 12pt arial, verdana, trebuchet ms, arial, sans-serif;
background-color: #f6c491;
}

#nav {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
  font-size: 10pt;
}

ul#tabnav {
font: 12pt arial, verdana, trebuchet ms, arial, sans-serif;
list-style-type: none;
padding-bottom: 29px;
border-bottom: 0;
margin: 0;
}

ul#tabnav li {
float: left;
height: 28px;
background-color: #fbc950;
margin: 0px 2px 0 2px;
border: 1px solid #000;
}

body#projects li.projects, body#experiments li.experiments, body#current li.current, body#tab4 li.tab4 {
border-bottom: 1px solid #a6d388;
background-color: #a6d388;
}

body#projects li.projects a, body#experiments li.experiments a, body#current li.current a, body#tab4 li.tab4 a {
color: #000;
}

#tabnav a {
float: left;
display: block;
color: #003;
text-decoration: none;
padding: 4px;
}

#tabnav a:hover {
background: #a6d388;
}

#logo {
	background-color: #f6c491;
}

/* actions style */
#actions {
	background-color: #fbc950;
  margin: 0px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
#actions a {
  font-weight: normal;
  color: #000;
}
div#actions a:hover {
  color: #fbc950;
}

.table-with-border { 
	border: 1px solid #fbc950;
}

.table-with-border td {
	border-right: 1px solid #fbc950;
}

.odd {
	background-color: #C0E6A8;
}
.header {
	background-color: #ca3225;
	color: #fbc950;
}

.show-experiment {
	background-color: #f6c491
}

#box {
	font: 10pt arial, verdana, trebuchet ms, arial, sans-serif;
	color: #000;
	border: none;
}

#errorExplanation {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	padding: 5px 10px 5px 10px;
	margin-bottom: 20px;
}

#footer { 
	margin-bottom: 40px; 
	color: #111; 
	font-size: 8pt; 
	text-align: center;
	padding-bottom: 10px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0;
}

/* rounder corners using unobstrusive js using prototype
technique source: http://www.ryanjlowe.com/?p=12 
css source: http://www.ryanjlowe.com/wp-content/themes/simpla/style.css
*/
.old_corners {
   background-color: #666;
   color: #fff;
   font-size: 200%;
   margin-bottom: 25px;
   text-align: center;
   width: 200px;
}
.corners {
   background-color: #666;
   color: #fff;
   font-size: 200%;
   margin-bottom: 25px;
   text-align: center;
   width: 200px;
}
.cornert div {
	background: url(/LITBOX/corner_tl_gray.gif) no-repeat top left;
}
.cornert {
	background: url(/LITBOX/corner_tr_gray.gif) no-repeat top right;
}
.cornerb div {
	background: url(/LITBOX/corner_bl_gray.gif) no-repeat bottom left;
}
.cornerb {
	background: url(/LITBOX/corner_br_gray.gif) no-repeat bottom right;
	clear: both;
}
/* height and width details */
.cornert div, .cornert, .cornerb div, .cornerb {
	width: 100%;
	height: 10px;
	font-size: 1px;
}

.current-page {
	background-color: #bbb; 
	padding: 3px; 
	font-size: 12pt;
}
.current-page a {
	text-decoration: none;
}

.pages {
	background-color: #fff;
	padding: 3px;
}
.pages a {
	text-decoration: none;
}

/* navigation options */
ul#navtabcontainer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
}

ul#navtabcontainer li {
	float: left;
	margin-right: 7px;
	text-align: center;
}

ul#navtabcontainer li a {
	text-decoration: none;
	padding: .2em 1em;
	display: block;
	/* background-color: #bbb; */
}


.highlight {
	background-color: yellow;
}

div#search_field a:hover {
  background: none;
}

div .notice, .error { 
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
	background-color: beige;
	margin: 5px;
	padding: 10px;
}

div.error { 
	color: red;
}

/* pagination */
  .pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #bbb;
    text-decoration: none;
    color: #aaa;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #ddd;
    color: #bbb;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #bbb;
    font-weight: bold;
    background-color: #eee;
    color: #222;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }

/* form styles

input { 
	font-size: x-small; 
	background-color: #ddd; 
	border: 1px solid #aaa; 
}
*/
