<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>PAF LIMS :: <%= @controller.action_name.upcase %></title>
	<%= stylesheet_link_tag "screen" %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="current">
  <div id="logo">
    <h1 align="center">PAF LIMS</h1> 
  </div>
<div id="nav">
  <ul id="tabnav">
    <li<%= ' class="current"' if session[:active_tab] == 'dashboard' %>><%= link_to "Dashboard", :controller => "dashboard", :active_tab => 'dashboard' %></li>
    <li<%= ' class="current"' if session[:active_tab] == 'projects' %>><%= link_to "Projects", :controller => "projects", :active_tab => 'projects' %></li>
    <li<%= ' class="client-exp"' if session[:active_tab] != 'client_experiments' %><%= ' class="active-client-exp"' if session[:active_tab] == 'client_experiments' %>><%= link_to "MS Service", :controller => "experiments", :active_tab => "client_experiments"%></li>
    <li<%= ' class="rppa-exp"' if session[:active_tab] != 'rppa_experiments' %><%= ' class="active-rppa-exp"' if session[:active_tab] == 'rppa_experiments' %>><%= link_to "RPPA-WES Service", :controller => "experiments", :active_tab => "rppa_experiments"%></li>
    <li<%= ' class="paf-exp"' if session[:active_tab] != 'paf_experiments' %><%= ' class="active-paf-exp"' if session[:active_tab] == 'paf_experiments' %>><%= link_to "Internal Experiments", :controller => "experiments", :active_tab => "paf_experiments"%></li>
    <li<%= ' class="current"' if session[:active_tab] == 'samples' %>><%= link_to "Samples", :controller => "samples", :active_tab => 'samples' %></li>
    <li<%= ' class="current"' if session[:active_tab] == 'sample_origins' %>><%= link_to "Sample Origins", :controller => "sample_origins", :active_tab => 'sample_origins' %></li>
    <li<%= ' class="current"' if session[:active_tab] == 'organisms' %>><%= link_to "Organisms", :controller => "organisms", :active_tab => 'organisms' %></li>
    <li<%= ' class="current"' if session[:active_tab] == 'people' %>><%= link_to "Contacts", :controller => "people", :active_tab => 'people' %></li>
    <li<%= ' class="current"' if session[:active_tab] == 'help' %>><%= link_to "Help", :controller => "help", :active_tab => 'help' %></li>
		<% if request.env['SERVER_NAME'] =~ /pcib306.unil.ch/ %>	
    <li<%= ' class="current"' if session[:active_tab] == 'tools' %>><%= link_to "Tools", :controller => "tools", :active_tab => 'tools' %></li>
		<% end %>
  </ul>

</div>
<div id="wrapper"<%= ' class="active-client-exp"' if session[:active_tab] == 'client_experiments' %><%= ' class="active-rppa-exp"' if session[:active_tab] == 'rppa_experiments' %><%= ' class="active-paf-exp"' if session[:active_tab] == 'paf_experiments' %>>

<%= content_tag 'div', h(flash[:notice]),
	:class => 'notice', :id => 'notice'  if flash[:notice] %>
<%= content_tag 'div', h(flash[:error]),
	:class => 'error', :id => 'error' if flash[:error] %>


<%= yield :layout %>

</div>

	<div id="footer">PAF Lims v 1.5: released 29th July 2008<br/> &copy; 2005 - 2008; <a href="http://unil.ch/paf">Protein Analysis Facilty</a>, <a href="http://unil.ch">University of Lausanne</a>
</body>
</html>
