<html>
<head>
  <title>Projects: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag "prototype"%>
</head>
<body>

<%= @content_for_layout %>

</body>
</html>
