<html>
<head>
  <title>Samples: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects2" %>
</head>
<body>

<%= @content_for_layout %>

</body>
</html>
